.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .add{
    float: right;
    margin-right: 20px;
  }

  .actions-header{
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .list{
    margin-top: 20px;
  }

  .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-small-container-color: #b4ff00;
    --mat-fab-small-foreground-color: #002340;
  }

  .delete{
    margin-left: 10px;
  }

  .actions{
    text-align: right;
  }

  .container{
    height: auto;
  }
