.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .add{
    float: right;
    margin-right: 20px;
  }

  .header{
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
  }