<div class="root">
  <div class="container header">
    <button mat-mini-fab class="add" (click)="addOrderDialog('0ms', '0ms')">
      <mat-icon>add</mat-icon>
    </button>

    <mat-form-field class="example-form-field">
      <mat-label>Filter Date Range</mat-label>
      <mat-date-range-input
        [formGroup]="filterForm"
        [rangePicker]="filterDatePicker"
      >
        <input
          matStartDate
          placeholder="Start date"
          formControlName="startDate"
        />
        <input matEndDate placeholder="End date" formControlName="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="filterDatePicker"
      ></mat-datepicker-toggle>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-date-range-picker
        #filterDatePicker
        (closed)="checkAndApplyFilter()"
      ></mat-date-range-picker>
    </mat-form-field>
    <button mat-icon-button matSuffix (click)="clearDates()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-form-field class="example-form-field">
      <mat-label>Override api key</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="apiKey"
        (ngModelChange)="overrideApiKey($event)"
      />
      @if (apiKey) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="apiKey = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <div class="container list">
    @if (orders$ | async; as ordersList) {
    <div>
      <mat-accordion>
        @for (o of ordersList; track o; let index = $index) {
        <mat-expansion-panel
          [attr.id]="'order-panel-' + o.id"
          [expanded]="expanded === o.id"
        >
          <mat-expansion-panel-header (mouseenter)="onPanelHover(o)">
            <mat-panel-title
              matTooltip="{{ tooltipMessage }}"
              #tooltip="matTooltip"
              matTooltipShowDelay="0"
            >
              Order - {{ o.id }}
            </mat-panel-title>
            <mat-panel-description> {{ o.orderStatus }} </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Quantity: {{ o.quantity }}</p>
          <p>Ship Date: {{ o.shipDate }}</p>
          <p>Pet: {{ o.petId }} ({{ getPetName(o.petId!) }})</p>
          <p>Complete: {{ o.complete }}</p>
          <div class="actions">
          <button mat-mini-fab class="edit" (click)="editOrderDialog(o, '0ms', '0ms')">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab class="delete" (click)="delete(o)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
    }
  </div>
</div>
