<h1 mat-dialog-title>{{ isUpdate ? 'Update Order' : 'Add New Order' }}</h1>
<mat-dialog-content class="content">
  <mat-stepper linear>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Pet ID</ng-template>
        <mat-form-field>
          <mat-label>Pet ID</mat-label>
          <mat-select
            formControlName="firstCtrl"
            placeholder="Select Pet ID"
            required
          >
            <mat-option *ngFor="let pet of pets" [value]="pet.id">{{ pet.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out ship date</ng-template>
        <mat-form-field>
          <mat-label>Ship Date</mat-label>
          <input
            matInput
            placeholder="YYYY-MM-DD"
            formControlName="secondCtrl"
          />
          <mat-error *ngIf="secondFormGroup.get('secondCtrl')?.hasError('required')">Ship date is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <input
            matInput
            placeholder="Quantity"
            formControlName="quantityCtrl"
            type="number"
          />
          <mat-error *ngIf="secondFormGroup.get('quantityCtrl')?.hasError('min')">Quantity must be at least 1.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isUpdate">
          <mat-label>Order Status</mat-label>
          <mat-select
            formControlName="orderStatusCtrl"
            placeholder="Select Order Status"
          >
            <mat-option value="PLACED">PLACED</mat-option>
            <mat-option value="APPROVED">APPROVED</mat-option>
            <mat-option value="DELIVERED">DELIVERED</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox *ngIf="isUpdate" formControlName="completeCtrl">Complete</mat-checkbox>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">{{ isUpdate ? 'Update' : 'Submit' }}</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
